
/target
**/*.rs.bk
Cargo.lock
.DS_Store
.idea/
.vscode/
*.log
*.tmp
*.swp
node_modules/

# Gradle build cache
.gradle-build-cache/

# Flutter/Dart
.dart_tool/
.packages
.pub/
.build/

# Android
**/build/
*.iml
.idea/
/local.properties

